main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../image/background5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.container {
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgb(218, 213, 203);
  border: 2px solid orangered;
  padding: 20px;
}
h1,
label {
  text-decoration: underline orangered;
  margin-bottom: 2%;
}
form input[type="submit"] {
  margin-top: 3%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1%;
  color: black;
  background-color: rgb(239, 96, 18);
}
form input[type="submit"]:hover {
  position: relative;
  animation: glitch 0.5s 3;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  50% {
    transform: translate(2px, -2px);
  }
  75% {
    transform: translate(-2px, 2px);
  }
  100% {
    transform: translate(0);
  }
}

@media screen and (max-width: 400px) {
  main {
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .container {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 15px;
  }

  h1,
  label {
    font-size: 18px;
    margin-bottom: 1%;
  }

  form input[type="submit"] {
    margin-top: 2%;
    padding: 0.5%;
  }
}
