main {
  text-align: center;
  padding: 2%;
  background-color: black;
}
.personnage img {
  width: 40%;
  height: auto;
}
.personnage h2 {
  text-decoration: underline orangered;
  margin: 5%;
}
.personnage {
  padding: 2%;
  margin: 1%;
  background-color: rgb(218, 213, 203);
  width: 20%;
  border: 3px solid orangered;
}
.division {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  main {
    padding: 1%;
  }

  .personnage img {
    width: 80%;
  }

  .personnage h2 {
    font-size: 16px;
    margin: 3%;
  }

  .personnage {
    padding: 1%;
    margin: 0.5%;
    width: 40%;
    border-width: 2px;
  }

  .division {
    justify-content: flex-start;
  }
  
  .logo{
    width: 40%;
  }
}
